* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

#wrap {
  width: 100%;
}


/* 상단 */


#header {
  width: 100%;
  height: 1100px;
}

.headerIn {

  width: 100%;
  height: 1100px;
  position: relative;
}

.bgcOrange {
  float: left;
  width: 34%;
  height: 1100px;
  background-color: rgb(255, 140, 0);
}

.bgcBlack {
  float: left;
  width: 66%;
  height: 1100px;
  background-color: rgb(31, 31, 31);
}

.idPicture {
  position: absolute;
  top: 330px;
  left: 424px;
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  /* border: 1px solid rgba(130, 130, 130, 0.469); */
  box-sizing: border-box;


}

.idPicture img {}

.sns {
  position: absolute;
  top: 1010px;
  left: 70px;
  width: 500px;
  height: 40px;
  /* background-color: azure; */
}

.sns li {
  float: left;
  margin-right: 35px;
}

.name {
  position: absolute;
  top: 445px;
  left: 1050px;
  width: 700px;
}

.name h5 {
  color: white;
  font-size: 35px;
}

.name h2 {
  margin-top: 10px;
  color: white;
  font-size: 80px;
  font-weight: 900;
}

.name p {
  margin-top: 10px;
  color: white;
  font-size: 24px;
}

.allBtn {
  position: absolute;
  top: 50px;
  right: 70px;

}

.allBtn li {
  width: 37px;
  height: 6px;
  background-color: azure;
  margin-bottom: 6px;
  border-radius: 15px 15px 15px 15px;
}

.nameBtn {
  position: absolute;
  top: 700px;
  left: 1050px;
  width: 460px;
  height: 140px;
}

.nameBtn li {
  float: left;
  width: 180px;
  height: 60px;
  background-color: azure;
  border-radius: 30px 30px 30px 30px;
  margin-right: 50px;
  text-align: center;
}

.nameBtn li a {
  color: rgb(38, 38, 38);
  line-height: 60px;
  font-size: 25px;
  font-weight: 900;
}




/* 학력 */



#contents {
  width: 100%;
  height: 1100px;
  background-color: rgb(31, 31, 31);
}

.edcu {
  width: 1920px;
  position: relative;
}

.edcu .line {
  position: absolute;
  top: 80px;
  left: 170px;
  width: 1600px;
  height: 6px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(255, 140, 0);
}

.edcu_h {
  position: absolute;
  top: 160px;
  left: 170px;


}

.edcu_h h2 {
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.school {
  position: absolute;
  top: 230px;
  left: 170px;


}

.school li {
  width: 970px;
  height: 160px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(255, 140, 0);
  margin-bottom: 25px;
  opacity: 0;
  transition: all 0.5s;

}

.school li.schoolAct {

  opacity: 1;
}

.school li p {
  font-size: 25px;
  color: white;
  margin-left: 50px;
  line-height: 50px;

}

.school li h5 {
  font-size: 45px;
  color: rgb(31, 31, 31);
  font-weight: 500;
  margin-left: 50px;
  line-height: 50px;

}

.edcu_img {
  position: absolute;
  top: 150px;
  left: 900px;

}

.edcu_img {

  position: absolute;
  top: 300px;
  left: 1300px;


}









/* 스킬 */


#skills {
  width: 100%;
  height: 1100px;
  background-color: rgb(255, 140, 0);
  position: relative;
}

.skills_in {
  position: absolute;
  top: 100px;
  left: 100px;

  width: 1720px;
  height: 900px;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  background-color: rgb(31, 31, 31);
  ;

}

.skills_in h2 {
  padding-top: 120px;

  color: white;
  font-size: 50px;
  font-weight: 900;

}

.skills_icon {
  margin: 100px auto 0px;
  width: 1600px;
  height: 200px;
}

.skills_icon li {
  float: left;
  width: 250px;
  margin-left: 15px;
  margin-bottom: 15px;
  opacity: 0.5;
  transition: all.0.7s;

}

.skills_icon li:hover {
  opacity: 1;


}










/* 경험 */

#exper {
  width: 100%;
  height: 1100px;
  background-color: rgb(255, 140, 0);

}

.exper_in {
  width: 1920px;
  text-align: center;
}

.exper_in h2 {
  padding-top: 120px;

  color: white;
  font-size: 50px;
  font-weight: 900;
}

.exper_box {
  margin: 50px auto 0px;
  width: 1400px;
  display: flex;
  justify-content: space-evenly;
}

.exper_box li {

  width: 400px;
  height: 500px;

  background-color: rgb(31, 31, 31);
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;

}

.exper_box li h4 {
  padding-top: 45px;
  padding-bottom: 35px;
  color: rgb(31, 31, 31);

  font-size: 35px;
  font-weight: 900;

}

.exper_box li p {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}

.exper_box_h {
  width: 400px;
  height: 120px;
  background-color: aliceblue;
}

.exper_box_b {}





/* 연락 */

#contact {
  width: 100%;
  height: 1100px;
  background-color: rgb(31, 31, 31);

}

.contact_in {
  margin: 0 auto;
  width: 1400px;
}

.contact_in h2 {
  padding-top: 120px;
  margin-bottom: 50px;

  color: white;
  font-size: 50px;
  font-weight: 900;
}

.con_h {}

.con_b {
  display: flex;
  justify-content: space-evenly;
}

.field {
  margin-bottom: 30px;
}

.field label {
  display: block;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 15px 15px 15px 15px;
  border: 3px solid rgb(255, 140, 0);
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: rgb(255, 140, 0);
  color: #fff;
  border-radius: 15px 15px 15px 15px;
}

.picture {
  margin-top: 30px;
}

.picture img {
  border: 3px solid rgb(255, 140, 0);
  border-radius: 25px 25px 25px 25px;
}